h2{
    color: whitesmoke;
    text-align: center;
}
p{
    color: whitesmoke    ;
  text-align: center;
}

.fondo{
    background-color: black;
}
table{
    color:azure
}
h5{
    color:aliceblue
}
h3{
    color: antiquewhite;
    text-align: center;
}
.img-fixed-size {
    width: 150px; /* Puedes ajustar este valor según tus necesidades */
    height: 300px; /* Puedes ajustar este valor según tus necesidades */
    object-fit:cover; /* Controla cómo se ajusta la imagen en el contenedor */
  }