h3{
    color:white;
    text-align: center;
}
p{
    color:white;
    text-align: center;
}
li{
    color:white;
    text-align:left;
}
.fondo{
    background-color: black;
    
}
h5{
    color: whitesmoke;
    text-align: center;
}
button{
    width: 8%;
    
}


