h3{
    color:black;
    text-align: center;
}

.img-fixed-size {
    width: 150px; /* Puedes ajustar este valor según tus necesidades */
    height: 300px; /* Puedes ajustar este valor según tus necesidades */
    object-fit:cover; /* Controla cómo se ajusta la imagen en el contenedor */
  }

  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }